h1 {
  padding: 20px;
  text-align: center;
}

.container1 {
   width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60vh;
  /* border: 2px solid purple; */
}

.left-side1 {
   width: 50%;
   padding: 1rem;
  text-align: center;
 }

.right-side1 {
  width: 50%;
  }

.left-side1 img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 10);
}


