/* we ar not using this css anywhere
 */
.pendingContainer {
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.uploads-container {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 8px;
}

.upload-item {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.upload-item img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.upload-item p {
  margin: 10px 0;
}

.upload-item button {
  padding: 8px 12px;
  margin-right: 10px;
  cursor: pointer;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
}

.upload-item button.deny {
  background-color: #e57373;
}
